<nav class="navbar sticky-top navbar-expand-lg navbar-light " style="background-color: #17d3e6;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="Weatherly.png" alt="" width="100px" height="80px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          
          <!-- <a class="nav-link" href="#">Menu2</a> -->
          <div>
            <form class="d-flex" action="/search" method="POST"  style="margin-left: 750px;">
              <input class="form-control me-2" type="search" name="city" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-dark" type="submit"><i class="fas fa-search"></i></button>
            </form>
           
          </div>
          
        </div>
        
      </div>
    </div>
  </nav>
